@import '~src/scss/_variables.scss';

.search-box {
  background-color: #d0021b;
  padding: 0 10px;

  ::ng-deep {
    .mat-form-field-flex {
      background-color: transparent;
    }

    .mat-form-field-infix {
      padding-bottom: 0;
    }

    // .mat-form-field-underline {
    //   display: none;
    // }

    &.mat-select-value,
    &.mat-select-arrow {
      color: $secondary-text-color;
    }

    mat-label {
      color: $secondary-text-color;
    }

    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
      color: $secondary-text-color;
    }

  }
}